# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16000

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n

# Required otherwise esp-x509-crt-bundle: fails to validate
CONFIG_MBEDTLS_DEFAULT_MEM_ALLOC=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# Enabling the following configurations can help increase the PCLK frequency in the case when
# the Frame Buffer is allocated from the PSRAM and fetched by EDMA
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y

# Set to get better performance, default cpu frequency is 160MHz.  Using 240MHz will improve FPS and CPU ultilization.
# You can verify this by setting LV_USE_PERF_MONITOR  to 1 in lv_config.h file - Line 246
# On boot up you should see the following on the terminal display "I (874) cpu_start: cpu freq: 240000000 Hz"
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y


#CONFIG_SPIRAM_XIP_FROM_PSRAM=y
#CONFIG_LCD_RGB_RESTART_IN_VSYNC=y